<div class="d-flex justify-content-center h-100 auth-container">
        <div class="auth-wrapper">
            <div>
                <div class="d-flex flex-column text-center mb-4 auth-header">
                    <span>ECOBANK UAA</span>
                    <!-- <small>Hello! Sign in with your username or email</small> -->
                </div>
                <form>
                    <div class="form-group">
                        <input type="password" class="form-control" id="old password" placeholder="Old password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="New password" placeholder="New password">
                    </div>
                    
                    <div class="form-group">
                        <input type="password" class="form-control" id="Confirm password" placeholder="Confirm password">
                    </div>
                    <a routerLink="/dashboard" class="btn btn-primary w-100 auth-btn auth-btn-green">Change password</a>
                    <!-- <a routerLink="/view-users" class="btn btn-primary btn-flat btn-addon btn-lg w-100">View users</a> -->
                    
    
                                         
                </form>
            </div>
        </div>
    </div>