<!-- <table id="example" class="table table-striped table-bordered nowrap" style="width:100%" datatable> -->
        <table class="table table-bordered table-condensed table-striped" datatable [dtTrigger]="dtTrigger">

    <thead>
        <tr>
            <th>id</th>
            <th>displayName</th>
            <th>description</th>
            <th>zoneId</th>
            <th>members</th>  
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let Groups of Groups">

            <td style="word-wrap:break-word; max-width: 130px;">{{Groups.id}}</td>
            <td style="max-width: 30px; word-wrap: break-word;">{{Groups.displayName }}</td>
            <td style="word-wrap: break-word;max-width:10px;">{{ Groups.description }}</td>
            <td style="word-wrap: break-word;max-width:10px;">{{ Groups.zoneId }}</td>
            <td style="word-wrap: break-word;max-width:30px;"><p *ngFor="let member of  Groups.members"> 
                            {{member.origin}}, {{member.type}}, {{member.value}}
                         </p></td>   

            <td>
                <input type="text" class="form-control" value="{{id}}" #client_id style="display:none;">

                <!-- <button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#myModalEdit" (click)="open(content,Groups.id)"
                    style="margin-right: 16px">Add Users</button> -->
                    <button class="btn btn-success" (click)="goToGroup(Groups.id)" style="margin-right: 16px;">View</button>

                <input type="submit" #id class="btn btn-danger btn-xs" value="Delete" (click)="funcDeleteT(Groups.id)" />

                
            </td>
        </tr>

    </tbody>

    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Create</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>

                <div class="form-group has-feedback">
                    <label>display Name</label>
                    <input type="text" class="form-control" placeholder="client_id" autocomplete="off" name="client_id" [(ngModel)]="get.displayName">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>

                <!-- <div class="form-group has-feedback">
                            <label>description</label>
                              <input type="text" class="form-control" placeholder="name"  name="name" [(ngModel)]="get.description">
                              
                              <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                                <label>ZoneId</label>
                                  <input type="text" class="form-control" placeholder="name"  name="name" [(ngModel)]="get.zoneId">
                                  
                                  <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            </div> -->

                <!-- <div class="users-body">
                    <p>Users</p>
                    <div class="user-container" style="margin-bottom: 16px;">
                        <button class="btn btn-default" style="margin:8px; width:auto;
                                        text-align: left; padding: 3px 6px; font-size: 14px;" *ngFor="let user of Users; let i = index;">
                            <input type="checkbox" [id]="user.id" (change)="change($event, i, user)">{{user.userName }}
                        </button>
                    </div>
                    <div class="btn-wrapper">
                        <button type="button" class="btn btn-success" (click)="d('Cross click')" style="margin-right: 16px">Done</button>
                        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Cancel</button>
                    </div>
                </div> -->

            </form>

        </div>
        <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
                </div> -->
    </ng-template>

</table>