 <div class="box box-default" style="background-color:white(0, 90, 124);margin-bottom: 110px;"> 
    
  <div class="box-header with-border" style="color:#fff;">  

        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
                <ul class="nav navbar-nav navbar-right">
                  
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#"></a></li>
                      <li><a href="#"></a></li>
                      <li><a href="#">SignOut</a></li>
                    </ul>
                  </li>
                </ul>
              </div><!-- /.navbar-collapse -->
              
            </div><!-- /.container-fluid -->
            
          </nav>
          

<!-- <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Dashboard</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div> -->
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-6">
              <div class="card" style="width: 20rem;">
                  <div class="card-body">
                      <h4 class="card-title">Sans &amp; Sans-Serif</h4>
                      <p class="card-text"></p>
                      <a routerLink="/view-users" class="btn btn-default btn-block btn-flat">USERS</a>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="card" style="width: 20rem;">
                       <div class="card-body">
                      <h4 class="card-title">Measure</h4>
                      <p class="card-text"></p>
                      <a routerLink="/view-client-app" class="btn btn-default btn-block btn-flat">CLIENTS</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="card" style="width: 20rem;">
                  <div class="card-body">
                      <h4 class="card-title">Tracking &amp; Kerning</h4>
                      <p class="card-text"></p>
                      <a routerLink="/view-groups" class="btn btn-default btn-block btn-flat">GROUP</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="card" style="width: 20rem;">
                  
                  <div class="card-body">
                      <h4 class="card-title">Leading</h4>
                      <p class="card-text"></p>
                      <a routerLink="/assign" class="btn btn-default btn-block btn-flat">ASSIGN</a>
                      
                      
                      
                  </div>
              </div>
          </div>
      </div>
      <!--/row-->
  </div>
  <!--container-->
          
           



      