
        <table class="table table-bordered table-condensed table-striped" datatable [dtTrigger]="dtTrigger">

                <thead>
                        <tr>
                            
                            <th>id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <!-- <th>Account Status</th> -->
                            <!-- <th>Password</th> -->
                            <th>Verified By</th>
                            <!-- <th>Login Count</th> -->
                            <!-- <th>Internal User</th>
                            <th>External User</th> -->
                            <th>Organisation</th>
                            <th>Group</th>
                            <th>User Type</th>


                            <th>Action</th>
                        </tr>
                    </thead>
            
                <tbody>
            
                        <tr *ngFor="let staff of Staff ;">
                                <td>{{staff.id}}</td>
                                <td>{{staff.firstName}}</td>
                                <td>{{staff.lastName}}</td>
                                <td>{{staff.email}}</td>
                                <!-- <td>{{staff.accountStatus}}</td> -->
                                <!-- <td>{{staff.password}}</td> -->
                                <td>{{staff.verifiedBy}}</td>
                                <!-- <td>{{staff.loginCount}}</td> -->
                                <!-- <td>{{staff.internalUser}}</td>
                                <td>{{staff.externalUser}}</td> -->
                                <td>
                                    <div *ngIf="staff.organisation">
                                        <a [routerLink]="['../organisations', staff.organisation?.id, 'view' ]">{{staff.organisation?.name}}</a>
                                    </div>
                                </td>
                                <td>
                                    <div *ngIf="staff.group">
                                        <a [routerLink]="['../groups-t', staff.group?.id, 'view' ]">{{staff.group?.name}}</a>
                                    </div>
                                </td>
                                <td>
                                    <div *ngIf="staff.userType">
                                        <a [routerLink]="['../user-types', staff.userType?.id, 'view' ]">{{staff.userType?.name}}</a>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="submit" [routerLink]="['/staff', staff.id, 'view' ]" class="btn btn-info btn-sm">
                                            <fa-icon [icon]="'eye'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                        </button>
                                        <button type="submit" [routerLink]="['/staff', staff.id, 'edit']" class="btn btn-primary btn-sm">
                                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                        </button>
                                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'staff/'+ staff.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge"
                                            class="btn btn-danger btn-sm">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>

            
                </tbody>
            
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Create</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
            
                            <div class="form-group has-feedback">
                                <label>display Name</label>
                                <input type="text" class="form-control" placeholder="client_id" autocomplete="off" name="client_id" [(ngModel)]="get.displayName">
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            </div>
            
                            
                        </form>
            
                    </div>
                    <!-- <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
                            </div> -->
                </ng-template>
            
            </table>