
/* .navbar-default { 
    background-color:blue;
    background-image: none;
    background-repeat: no-repeat;
   }  */
  
   /* body{
       background-image:black;
   } */

   /* <body class="hold-transition skin-blue sidebar-mini login-page" 
   style="background-image: url('assets/dist/img/bgPicfh.jpg'); 
   background-repeat: no-repeat;background-size: 230% 230%;"> */

   